{% extends 'base.html' %}
{% load static %}
{% block title %}Gallary |
{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
    <div class="container-fluid px-0" >
        <img src="{% static 'gallary.jfif ' %} " class="d-block w-100 " alt= "buffalow-skyline" width = "500" height="300" >
    </div>
	<section class="banner" style="background:url(assets/images/banner.jpg)">
    	<div class="container">
        	<div class="row">
            <div class="banner-head">
            	<center><h3>GALL<span>ERY</span></h3></center>
            </div>
            </div>
            
        </div>
    </section>
            <section id="gallery-section">
<div class="container imglist">
        <div class="row">
        <br/>


            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary1.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary2.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary3.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary5.jfif' %}" class="img-responsive"> </a>
            </div>
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'hai4.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary6.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary7.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary8.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary9.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary10.jfif' %}" class="img-responsive"> </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary11.jfif' %}" class="img-responsive"> </a>

            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-12 filter image clearfix">
                <img style="min-width:370px;height:247px" src="{% static 'gallary12.jfif' %}" class="img-responsive"> </a>

            </div>
            
        </div>
    </div>	
{% endblock body %}